
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "~vue2-daterange-picker/src/assets/daterangepicker.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.label-as-badge {
  border-radius: 1em;
}

.daterangepicker {
  display: block !important;
  top: 35px !important;
  left: 0 !important;

  .ranges {
    ul {
      padding: 0 20px !important;
    }
  }
}

@media (min-width: 564px) {
  .daterangepicker {
    width: 610px !important;
  }
}
